<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneplus.camera.overlay">
    <application android:hasCode="false"/>
    <overlay
        android:isStatic="true"
        android:priority="420"
        android:resourcesMap="@xml/overlays"
        android:targetPackage="com.oneplus.camera"/>
</manifest>
